@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-secondary-light: oklch(0.448 0.119 151.328);
  --color-secondary-normal: oklch(0.393 0.095 152.535);
  --color-secondary-dark: oklch(0.266 0.065 152.934);
  --color-primary-light: oklch(0.432 0.095 166.913);
  --color-primary-normal: oklch(0.378 0.077 168.94);
  --color-primary-dark: oklch(0.262 0.051 172.552);
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
    font-size: 16px;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
  }
  body {
    min-height: 100vh;
    min-height: 100svh;
    font-family: "Roboto Mono", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  :focus-visible {
    outline: 2px solid theme("colors.blue.500");
    outline-offset: 2px;
    border-radius: 2px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  ul,
  ol {
    list-style: none;
  }
}

@layer components {
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .active::after {
    font-weight: 900;
    content: '';
    position: absolute;

    bottom:0;
    left: 10%;
    width: 80%;
    height: 4px;

    background-color: oklch(25.7% 0.09 281.288);
  }
}
